.gameList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.gameItem {
    flex: space-evenly;
    margin: 0px 40px;
    padding-top: 60px;
    padding-inline: 10px;
    padding-bottom: 0px;
    text-align: center;
}

.gameItem img {
    height: 350px;
    max-width: 240px;
    border-radius: 25px;
    border: solid 2px;
    border-color: var(--mainFGcolor);
}

.gameItem h2 {
    margin-top: 5px;
    color: var(--mainTextColor);
}

.gameItem p {
    font-size: 12px;
    margin: 0px;
    padding: 0px;
}