@media only screen and (max-width: 768px) {
    .gameItem {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        padding-inline: 0px !important;
    }

    .gameItem img {
        height: 150px !important;
        max-width: 110px !important;
    }

    .gameItem h2 {
        font-size: 15px !important;
        width: auto !important;
    }

    .gameItem p {
        display: none !important;
    }

}

@media only screen and (min-width: 769px) {

}

.gameList {
    display: flex;
    width: var(--mainWidth);
    width: var(--mainWidth);
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    padding-top: 50px;
}

.gameItem {
    flex: 0 0 25%;
    margin: 0px 40px;
    padding-top: 60px;
    padding-inline: 10px;
    padding-bottom: 50px;
    text-align: center;

    transform: scale(1, 1);
    transition: 0.2s;

    &:hover {
        transform: scale(1.225, 1.225);
        z-index: 1;
    }
}

.gameItem img {
    height: 280px;
    max-width: 200px;
    object-fit: cover;
    border-radius: 25px;
    border: solid 2px;
    border-color: var(--mainFGcolor);

    &:hover {
        border: dashed 2px;
        border-color: var(--mainFGcolor);
    }
}

.gameItem h2 {
    margin-top: 5px;
    color: var(--mainTextColor);
}

.gameItem p {
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    color: var(--mainTextColor);
}

.reactLink {
    text-decoration: none;
    margin: 0;
    padding: 0;
}