@import url('https://fonts.cdnfonts.com/css/capture-it');

:root{
  /* Colors */
  --mainBGcolor: #252525;
  --mainBGshadeColor: rgba(0, 0, 0, 0.92);
  --mainFGcolor: #ffffff;
  --mainTextColor: #ffffff;
  --textGRcolor: #ab2020;
  /* Main sizes */
  --mainWidth: 70vw;
  --mainHeight: 100vw;
}

body{
  /*background-color: var(--mainBGcolor);*/
  background-image: url("https://cdn.wallpapersafari.com/84/29/uchbAr.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.centeredPage{
  display: flexbox;
  position: relative;
  width: var(--mainWidth);
  min-height: var(--mainHeight);
  left: 15vw;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  background-color: var(--mainBGshadeColor);
}

.textMain{
  display: flex;
  text-align: center;
  font-size: 5vw;
  font-weight: 520;
  font-family: 'Capture it', sans-serif;
  color: var(--mainTextColor);
  letter-spacing: 2px;
  text-decoration: 4px underline double var(--textGRcolor);
}

.textGR{
  display: flex;
  text-align: center;
  font-size: 5vw;
  font-weight: 520;
  font-family: 'Capture it', sans-serif;
  color: var(--textGRcolor);
  letter-spacing: 2px;
  text-decoration: 4px underline double var(--textGRcolor);
}

.mainDiv{
  display: flex;
  text-align: center;
  margin: auto;
  height: 90px;
  width: var(--mainWidth);
  justify-content: center;
  align-items: center;
}

.textMainSecond{
  display: flex;
  text-align: center;
  font-size: 20px;
  font-weight: 520;
  font-family: 'Capture it', sans-serif;
  color: var(--mainTextColor);
  letter-spacing: 2px;
}

.mainDivSecond{
  display: flex;
  text-align: center;
  margin: auto;
  height: 50px;
  width: var(--mainWidth);
  justify-content: center;
  align-items: center;
}

.searchBar{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid;
  border-width: 2px;
  border-radius: 15px;
  border-color: var(--mainTextColor);
  width: 50vw;
  height: 3vw;
  text-align: center;
  color: #ffffff;
  font-size: 2vw;
  font-weight: 520;
  font-family: 'Capture it', sans-serif;
  letter-spacing: 2px;
  background-color: #404040;
}

.searchBar:focus, input:focus{
  outline: none;
}