@import url('https://fonts.cdnfonts.com/css/capture-it');

:root{
  /* Colors */
  /* Main sizes */
  --mainWidth: 70vw;
  --mainHeight: 100vw;
}

:root.dark{
  --mainBGcolor: #252525;
  --mainBGshadeColor: rgba(0, 0, 0, 0.92);
  --mainFGcolor: #ffffff;
  --mainTextColor: #ffffff;
  --textGRcolor: #ab2020;
  --passiveScrollBar: #860000;
  --hoverScrollBar: #ff0000;
}

:root.light{
  --mainBGcolor: #252525;
  --mainBGshadeColor: rgba(255, 255, 255, 0.85);
  --mainFGcolor: #000000;
  --mainTextColor: #000000;
  --textGRcolor: #ab2020;
  --passiveScrollBar: #860000;
  --hoverScrollBar: #ff0000;
}

body{
  /*background-color: var(--mainBGcolor);*/
  background-image: url("../graphic/background.png");
  background-size: cover;
  background-attachment: fixed;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--mainBGshadeColor);
}

::-webkit-scrollbar-thumb {
  background-color: var(--passiveScrollBar);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--hoverScrollBar);
}


.centeredPage{
  display: block;
  position: relative;
  min-width: var(--mainWidth);
  min-height: var(--mainHeight);
  left: 15vw;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  background-color: var(--mainBGshadeColor);
}

.navBar{
  display: grid;
  grid-template-columns: repeat(60, [col-start]);
  max-width: var(--mainWidth);
  height: 50px;
  background-color: var(--mainBGcolor);
  border: solid 4px;
  border-radius: 4px;
  border-color: var(--mainBGshadeColor);
  align-items: center;
  border-radius: 15px;
}

.navBarFirst{
  grid-column: 1;
  width: 1px;
  height: 50px;
}

.navBarLast{
  grid-column: 60;
  width: 1px;
  height: 50px;
}

.navBar > #themeButton{
  grid-column: 59 ;
  width: 40px;
  height: 40px;
  background-image: url("../graphic/switch-icon-light.png");
  background-size: contain;
  border-radius: 50%;
  border: 0px;
  outline: none;
}

.textMain{
  display: flex;
  color: var(--mainTextColor);
}

.textGR{
  display: flex;
  color: var(--textGRcolor);
}

.mainDiv{
  display: flex;
  text-align: center;
  margin: auto;
  height: 100px;
  width: 1000px;
  justify-content: center;
  align-items: center;

  text-align: center;
  font-weight: 520;
  font-family: 'Capture it', sans-serif;
  font-size: 50px;
  letter-spacing: 4px;
  text-decoration: 4px underline double var(--textGRcolor);
}

.textMainSecond{
  display: flex;
  text-align: center;
  font-size: 20px;
  font-weight: 520;
  font-family: 'Capture it', sans-serif;
  color: var(--mainTextColor);
  letter-spacing: 2px;
}

.mainDivSecond{
  display: flex;
  text-align: center;
  margin: auto;
  height: 50px;
  width: var(--mainWidth);
  justify-content: center;
  align-items: center;
}

.searchBar{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid;
  border-width: 2px;
  border-radius: 15px;
  border-color: var(--mainTextColor);
  width: 800px;
  height: 50px;
  text-align: center;
  color: #ffffff;
  font-size: 40px;
  font-weight: 520;
  font-family: 'Capture it', sans-serif;
  letter-spacing: 2px;
  background-color: #404040;
}

.searchBar:focus, input:focus{
  outline: none;
  color: #ffffff;
  font-size: 40px;
  font-weight: 520;
  font-family: 'Capture it', sans-serif;
  letter-spacing: 2px;
  background-color: #404040;
}

.searchBar:focus, input:focus{
  outline: none;
}